@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Inter', sans-serif !important;
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}

#app > div[dir=ltr] {
    height: inherit;
}

.page-footer {
    align-items: center;
    background-color: white;
    border-top: solid 1px #E0E0E0;
    box-sizing: border-box;
    display: flex;
    height: 30px;
    justify-content: center;
}

.delete-button:not(.is-disabled) {
    background-color: #d13438 !important;
}

.delete-button:not(.is-disabled):hover {
    background-color: #a4262c !important;
}