@inherits LayoutComponentBase

<BFUStack VerticalFill="true">
    <BFUStackItem Style="height:auto;">
        <PageHeader />
    </BFUStackItem>
    <BFUStackItem Style="position:relative;overflow:auto;padding:15px calc(100% / 20);">
        @Body
    </BFUStackItem>
    <BFUStackItem Style="height:auto;">
        <div class="page-footer">
            <BFUText>Copyright &copy; @DateTime.Now.Year Gary Antier</BFUText>
        </div>
    </BFUStackItem>
</BFUStack>