@inherits LayoutComponentBase

<BFUStack VerticalFill="true">
    <BFUStackItem Style="height:auto;">
        <PageHeader />
    </BFUStackItem>
    <BFUStackItem Style="position:relative;overflow:auto;">
        <BFUStack VerticalFill="true">
            <BFUStackItem Style="height:auto;">
                <div style="width:100%;">    
                    <TemporaryMessages />
                </div>
            </BFUStackItem>
            <BFUStackItem Style="padding:15px calc(100% / 20);">
                @Body
            </BFUStackItem>
        </BFUStack>
    </BFUStackItem>
    <BFUStackItem Style="height:auto;">
        <div class="page-footer">
            <BFUText>Copyright &copy; @DateTime.Now.Year Gary Antier</BFUText>
        </div>
    </BFUStackItem>
</BFUStack>