<div class="page-header">
    <BFUStack Horizontal="true"
              VerticalAlign=@Alignment.Center
              VerticalFill="true">
        <BFUStackItem Grow="true"
                      DisableShrink="true"
                      VerticalFill="false"
                      Tokens=@StackItemTokens>
            <BFUText Variant=@TextType.XLarge
                     Style="font-weight:700;">
                     Finance Tracker
            </BFUText>
        </BFUStackItem>
        <BFUStackItem Shrink="true"
                      VerticalFill="false"
                      Tokens=@StackItemTokens>
            <AccountMenu />
        </BFUStackItem>
    </BFUStack>
</div>

@code {
    BFUStackItemTokens StackItemTokens = new BFUStackItemTokens {
        Padding = "0 10px"
    };
}